<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">chivilev1216</a>
    <div class="row-sm-3">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/category/1">Мебель</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category/2">Техника</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category/3">Книги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category/4">Телефоны</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addProduct">Добавить&nbsp;товар</a>
        </li>
      </ul>
    </div>