<nav class="navbar row navbar-light">
    <a class="btn btn-secondary col-3" routerLink="/">Информация</a>
    <div class="bg-secondary col-6 ml-2 mr-2 rounded row">
            <a class="text-white nav-link col-3" routerLink="/category/1">Мебель</a>
            <a class="text-white nav-link col-3" routerLink="/category/2">Техника</a>
            <a class="text-white nav-link col-3" routerLink="/category/3">Книги</a>
            <a class="text-white nav-link col-3" routerLink="/category/4">Телефоны</a>
    </div>
    <a class="btn btn-secondary col-3" routerLink="/addProduct">Добавить товар</a>
</nav>
